body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    background-color: #e7e2e2;
}

.tablink {
    background-color: #c1c1c1;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height: 50px;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100% !important;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.task {
    color: black;
    padding: 30px;
    margin: 20px;
    text-align: -webkit-left;
    width: 80%;
    align-items: center;
    line-height: 1.5em;
}

li {
    list-style-type: none; /* Убираем маркеры */
    border: aqua;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.form-wrapper {
    width: 90%;
    margin: 0 auto;
    border: 1px dashed black;
    padding: 10px;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    border: 2px solid #777;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}


textarea {
    box-sizing: border-box;
    margin: 7px 0;
    border: 2px solid #777;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 200px;
    resize: none;
}

select {
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
}

label {
    width: 100%;
    margin: 10px 0px 5px auto;
    float: left;
}

.green {
    border: 4px solid green;
    padding: 30px;
    margin: 20px;
}

.red {
    border: 4px solid red;
    padding: 30px;
    margin: 20px;
}

.yellow {
    border: 4px solid #ffda30;
    padding: 30px;
    margin: 20px;
}
.but {
    display: block;
    background: orange;
    width: 40%;
    padding: 15px 30px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin: 5% auto;
    transition: all 0.5s;
    cursor: pointer;
}
.but:hover {
    background: darkorange;
    transition: all 0.5s;
}
